body {font-family: 'Verdana', 'Arial'; margin: 0px; font-size: 10pt; border-top: 3px solid #0088aa; height:100%;}

header, nav, h1, h2, h3{font-family: 'Verdana', sans-serif;}
h1, h2, h3 {color: #555; font-weight: normal;}
h1 {font-size: 1.5em;}
h2 {font-size: 1.3em;}
h3 {font-size: 1.1em;}

input[type=text]:focus, input[type=password]:focus{
      border-color:#0088aa;
      -moz-box-shadow: 0px 0px 6px #0088aa;
      -webkit-box-shadow: 0px 0px 6px #0088aa;
      box-shadow: 0px 0px 6px #0088aa;
}

a {color: #0088aa;}
a:hover {color: #33AA00; text-decoration: none;}

.delete{font-size: 0.8em; font-weight: normal; color: #EE0000; margin-top: 20px; text-align: right;}
.delete a{color: #EE0000;}

header{font-size: 1.3em; font-weight: normal; color: #777; padding: 20px 20px 0px 20px; border-bottom: 0px solid #CCC;}
header img{vertical-align: middle; position: relative; top: -5px; margin-right: 5px;}
header #app-name{color: #AAA; font-weight: normal; margin-right: 20px; font-size: 1.5em;}
header #app-name a{color: #BBB;}
header #app-name a:hover{color: #33AA00; text-decoration: none;}
nav {padding: 10px 20px 0px 20px; font-weight: normal; font-size: 1.1em; border-bottom: 0px solid #CCC;}
nav ul {margin: 0px; list-style-type: none;}
nav ul li {margin-right: 20px; display: inline;}
nav a{}
nav a:hover{}

.get-started{text-align: center; font-size: 1.3em; width: 300px; margin: auto; line-height: 1.5em; padding: 20px;}

#container{margin: 40px 20px 20px 20px;}
#content{}

.button{background-color: #00aa00; color: #FFF; text-align: center; padding: 5px; font-weight: bold; margin-bottom: 10px; border: 1px solid #008800;}
.button a{color: #FFF; text-decoration: none;}

#footer{font-weight: normal; margin-top: 40px;}
#footer a{color: #BBB;}
#footer a:hover{color: #33AA00;}

.left-box{float: left; display: inline; padding: 20px; border: 1px solid #AAA; margin: 0px 20px 20px 0px; cursor: pointer; text-align: center; min-width: 150px;}
.left-box:hover{background-color: #DDFFDD;}
.left-box img{border: none;}
.left-box img{border: none;}
.left-box div {margin-top: 20px}
.grey{background-color: #FAFAFA;}
a .grey{color: #999;}

.message{padding: 5px; background-color: #DDFADD; color: #777; margin-bottom: 10px; text-align: center; max-width: 400px;}

.table td a{color: #000;}
.table td a:hover{color: #33AA00;}

.survey{max-width: 650px; padding: 20px; border: 1px solid #CCC;}
.survey-section{border-left: 3px solid #FFF; padding: 0px 10px 0px 10px; cursor: pointer; margin-bottom: 20px;}
.survey-section h1{font-size: 1em; font-weight: bold; margin-top: 0px;}

#chat-box{
	width: 450px; position: fixed; bottom: 0px; right: 0px; background-color: #FAFAFA; padding: 10px;
	border-left: 1px solid #999; overflow:auto; height: 100%;
}
#chat-box h1{margin-top: 20px;}
#chat-box   .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:hover,
        .nav-tabs > li.active > a:focus {
          background-color: #FAFAFA;
          } 
#chat-box nav{padding: 0px; margin-bottom: 10px; border: none; font-size: 0.8em;}
#di-graph-container{border: 1px solid #999; text-align: left; border-radius: 10px; width: 825px;}

.step{width: 350px; text-align: center;}
.step h1{font-size: 1.3em; margin: 0px; padding: 0px; font-weight: bold;}
.step h2{font-size: 1em;}
.step-box{border: 1px solid #CCC; padding: 20px; border: 1px solid #777; border-radius: 10px; margin-bottom: 10px; cursor: pointer; margin-left: 40px;}
.step-number{font-size: 1.5em; color: #999; float: left; padding-top: 20px;}
.step-arrow img{margin-bottom: 10px; margin-left: 40px;}